.dropzoneWrapper {
    display: flex;

    height: 400px;

    flex: 1;

    border-radius: 4px;
    box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.03);
}

.dropzoneContainer {
    display: flex;

    border: 4px dashed #ddd;
    border-radius: 4px;
    cursor: pointer;

    width: 400px;
    height: 100%;
    
    justify-content: center;
    align-items: center;

    transition: 0.2s ease;
}

.progressPanel {
    display: flex;
    flex-direction: column;

    background-color: #FFF;
    border-radius: 0 4px 4px 0;
    
    height: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: auto;
    scrollbar-width: none;

    transition: .2s;
}

.progressPanel::-webkit-scrollbar {
    display: none;
}

.progressPanel li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}

.progressPanel li div:first-child {
    display: flex;
    align-items: center;

    margin-right: 2rem;
}

.progressPanel li div:first-child .image {
    width: 2.3rem;
    height: 2.3rem;

    border-radius: 4px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    margin-right: .7rem;
}

.progressPanel li div.fileInfo {
    display: flex;
    flex-direction: column;
}

.progressPanel li div.fileInfo span,
.progressPanel li div.fileInfo button {
    font-size: .9rem;

    margin-top: .1rem;
}

.progressPanel li div.fileInfo button {
    color: #e57878;
    margin-left: .4rem;
}

.progressPanel li div:last-child {
    display: flex;
}

.progressPanel li button {
    background-color: transparent;
    border: 0; 
}

.progressPanel li button.link {
    font-size: 0;
}

.progressPanel .buttonContainer {
    display: flex;
    flex-direction: column;
    margin: .8rem;
}

.progressPanel .buttonContainer button {
    flex: 1;

    padding: .8rem;
    border: 0;
    border-radius: 4px;

    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03);

    cursor: pointer;
    transition: .2s;
}

.progressPanel .buttonContainer button + button {
    margin-top: 1rem;
}

.progressPanel .buttonContainer button[id=send] {
    background: var(--primary);
    color: var(--background);
}

.progressPanel .buttonContainer button[id=delete] {
    background: transparent;
    border: 2px solid var(--platinum);
}

.progressPanel .buttonContainer button[id=send]:hover {
    background: #2d73a5;
}

.progressPanel .buttonContainer button[id=delete]:hover {
    background: #ff5353;
    border: 2px solid #ff5353;
    color: var(--background);
}

@keyframes slideRight {
    from {
        transform: translateX(-50vh);
        opacity: 0;
    } to {
        transform: translateX(0vh);
        opacity: 1;
    }
}