.tabsContainer {
    display: flex;
    height: 80px;

    /* Make tabs always in view */
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    
    margin-bottom: .2rem;
}

.tabsContainer button {
    display: flex;

    align-items: center;
    justify-content: center;

    border: 0;
    background: var(--background);
    flex: 1;
    color: var(--text);

    width: 6rem;

    border-top: 3px solid var(--platinum);

    outline: none;

    cursor: pointer;

    transition: .2s;
}

.tabsContainer button:hover {
    font-size: 1.1rem;
    color: #5f5f5f;
}

.tabsContainer button span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activeButton {
    border-top: 3px solid var(--primary);
    color: var(--primary);
    font-size: 1.1rem;
}

