.profileContainer {
    display: flex;
    flex: 1;
    flex-direction: column;

    height: auto;
    width: 100%;

    margin: auto;
    max-width: 75rem;
}

.profileContainer .profileDetails {
    display: grid;
    flex: 1;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    height: max-content;
}